<h1>Products#create</h1>

<h1> Title: <%= @product.title%></h1>
<h1> description:<%= @product.description%></h1>
<h1> price:<%= @product.price%></h1>
<h1> category:
  <%=@product.category.name%>

</h1>

<h1> seller: <%= current_user.full_name %>
</h1>
